version: '3.8'

services:
  db:
    image: mysql:5.7
    restart: unless-stopped
      env_file: ./.env
      environment:
        MYSQL_USER: $MYSQL_USER
        MYSQL_PASSWORD: $MYSQL_PASSWORD
        MYSQL_ROOT_PASSWORD: $MYSQL_ROOT_PASSWORD
        MYSQL_DATABASE: $MYSQL_DATABASE
      ports:
        - $MYSQL_LOCAL_PORT:$MYSQL_DOCKER_PORT
      volumes:
        - ./database:/var/lib/mysql

  server:
    depends_on:
      - db
    build:
      context: .
      dockerfile: ./Dockerfile
    image: autosport-server
    restart: unless-stopped
    env_file: ./.env
    ports:
      - $NODE_LOCAL_PORT:$NODE_DOCKER_PORT
      environment:
        - DB_HOST=mysqldb
        - DB_USER=${MYSQL_USER}
        - DB_PASSWORD=${MYSQL_PASSWORD}
        - DB_NAME=${MYSQL_DATABASE}
        - DB_PORT=${MYSQL_DOCKER_PORT}
      stdin_open: true
      tty: true

volumes:
  db: