.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.team {
    display: flex;
    width: 400px;
    margin: 0 auto;
    border: 1px solid red;
}

.team img {
    height: 100%;
    width: 300px;
}