.nav {
    overflow: hidden;
    background-color: tomato;
    
}

.item a{
    color: greenyellow;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.item a:hover{
    background-color: #ddd;
    color: black;
}